################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS-GlobalAzureBootcamp-SlidePrep
/CS-GlobalAzureBootcamp-SlidePrep-BatchSender/obj
/CS-GlobalAzureBootcamp-SlidePrep-BatchSender/bin/Debug/netcoreapp3.1
