<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cs-globalazurebootcamp-slideprep-consumer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dadfd5e8-f898-4d2c-98ac-0739b7190383/resourcegroups/CX_playground/providers/Microsoft.Web/sites/CS-GlobalAzureBootcamp-SlidePrep-Consumer</ResourceId>
    <UserName>$CS-GlobalAzureBootcamp-SlidePrep-Consumer</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://cs-globalazurebootcamp-slideprep-consumer.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>